@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;500;600;700&display=swap');
:root{
    --primary-color-dark-blue-1: hsl(217, 28%, 15%);
    --primary-color-dark-blue-2: hsl(218, 28%, 13%);
    --primary-color-dark-blue-3: hsl(216, 53%, 9%);
    --primary-color-dark-blue-4: hsl(219, 30%, 18%);
    --accent-color-cyan: hsl(176, 68%, 64%);
    --accent-color-blue: hsl(198, 60%, 50%);
    --neutral-color-white: hsl(0, 0%, 100%);
    }
    body{
        background-color: hsl(218, 28%, 13%);
    }
    p{
        color: white;
    }
    header{
        display: flex;
        padding: 3.5rem 3rem;
        justify-content: space-between;
        align-items: end;
        gap: 2rem;
    }
    header > img{
        max-height: 2rem
    }
    .titleInteractive{
        height: 2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        gap: 1rem;
        display: flex;
        align-items: center;
    }
    .titleInteractive p{
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        transition: .2s;
    }
    .titleInteractive p:hover{
        color: var(--accent-color-cyan);
    }
    @media (max-width: 455px) {
        .titleInteractive{
            display: flex;
            flex-direction: column;
            gap: none;
        }
    }
    
    