@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;500;600;700&display=swap');
:root{
    --primary-color-dark-blue-1: hsl(217, 28%, 15%);
    --primary-color-dark-blue-2: hsl(218, 28%, 13%);
    --primary-color-dark-blue-3: hsl(216, 53%, 9%);
    --primary-color-dark-blue-4: hsl(219, 30%, 18%);
    --accent-color-cyan: hsl(176, 68%, 64%);
    --accent-color-blue: hsl(198, 60%, 50%);
    --neutral-color-white: hsl(0, 0%, 100%);
    }
    body{
        background-color: hsl(218, 28%, 13%);
    }
    p{
        color: white;
    }
    header{
        display: flex;
        padding: 3.5rem 3rem;
        justify-content: space-between;
        align-items: end;
        gap: 2rem;
    }
    header > img{
        max-height: 2rem
    }
    .titleInteractive{
        height: 2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        gap: 1rem;
        display: flex;
        align-items: center;
    }
    .titleInteractive p{
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        transition: .2s;
    }
    .titleInteractive p:hover{
        color: var(--accent-color-cyan);
    }
    @media (max-width: 455px) {
        .titleInteractive{
            display: flex;
            flex-direction: column;
            gap: none;
        }
    }
    .bodyFirstPartContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.5rem 3rem;
    }
    
    .bodyFirstPartContainer > img{
            width: 100%;
            max-width: 600px;
            height: auto;
        
    }
    .bodyFirstPartText{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        gap: 1rem;
        word-wrap: break-word;
        line-height: 2.5rem;
    }
    .bodyFirstPartText > h1 {
        color: white;
        font-weight: 600;
        font-size: 1.7rem;
        align-self: center;
        text-align: center;
    }
    .bodyFirstPartText > p {
        color: white;
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
        line-height: 1.7rem;
    
    }
    .bodyFirstPartBtn{
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        max-width: 80%;
        width: 15rem;
        border-radius: 25px;
        border: none;
        background: linear-gradient(50deg, var(--accent-color-cyan), var(--accent-color-blue));
        margin-top: 2rem;
        height: 3rem;
    }
    .bodyFirstPartBtn:hover{
        cursor: pointer;
        background: linear-gradient(50deg, var(--accent-color-blue), var(--accent-color-cyan));
    }
    @media (max-width: 1000px) {
        .bodyFirstPartText{
            width: 100%;
        }    
    }

    .bodySecondPartContainer{
        padding: 4.5rem 4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }
    .secondPartWrapper{
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 6rem;
    }
    .cardSecondPart{
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        color: white;
        font-family: 'Raleway', sans-serif;
    }
    .cardSecondPart > img{
        max-height: 78px;
        min-height: 78px;
    }
    .cardSecondPart > h1{
        margin-top: 2rem;
        font-size: 1.7rem;
        font-weight: 600;
    }
    .cardSecondPart > p{
        margin-top: 1.5rem;
        line-height: 1.7rem;
    }
    .secondPartWrapper2{
        display: flex;
        align-items: start;
        justify-content: center;
        margin-top: 3rem;
        gap: 6rem;
    }
    @media (max-width: 1000px) {
        .secondPartWrapper{
            flex-direction: column;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }
        .secondPartWrapper2{
            flex-direction: column;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }
        .cardSecondPart{
            width: 100%;
        }
    }
    